body {
    background-color: #f2f5f7;
    margin: 0px;
    font-family: Arial, sans-serif;
}

.header {
    box-shadow: 0px 5px 14px -10px rgba(0, 0, 0, 0.46);
    text-align: center;
    padding: 20px;
    background-color: #3b5998;
}

h1 {
    font-weight: 200;
    font-size: 2.5rem;
    color: #f4f4f9;
    margin: 0;
    font-weight: 600;
}

.allStylingBtns {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 40px 0;
    flex-wrap: wrap;
}

.btn {
    width: 50px;
    height: 45px;
    border: 1px solid #3b5998;
    border-radius: 8px;
    box-shadow: inset 0px 0px 40px -32px #f4f4f9;
    transition: background-color 0.3s, color 0.3s;
    background-color: #f4f4f9;
    color: #3b5998;
}

button:hover {
    background-color: #3b5998;
    color: #f4f4f9;
    border-color: #3b5998;
}

#textInp {
    width: 80%;
    max-width: 900px;
    height: 300px;
    padding: 20px;
    border: 3px solid #3b5998;
    background-color: #f9fafb;
    box-shadow: 0px 0px 34px -3px rgba(0, 0, 0, 0.65);
    border-radius: 7px;
    font-size: 1rem;
    resize: vertical;
    margin: 0px auto 75px auto;
    display: block;
    color: #333;
}

.footer {
    box-shadow: 0px 6px 34px -10px rgba(0, 0, 0, 0.46);
    text-align: center;
    padding: 20px;
    background-color: #3b5998;
    color: #f4f4f9;
}

a {
    font-style: italic;
    color: black;
    text-decoration: none;
}

a:hover {
    color: #f4f4f9; 
    text-decoration: underline;
}


@media (max-width: 1440px) {
    h1 {
        font-size: 2.5rem;
    }

    #textInp {
        height: 380px;
    }

    .footer {
        font-size: 1.6rem;
    }
}


@media (max-width: 1024px) {
    h1 {
        font-size: 2.3rem;
    }

    #textInp {
        width: 90%;
        height: 260px;
    }

    .btn {
        width: 45px;
    }

    .footer {
        font-size: 1.4rem;
    }
}


@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    #textInp {
        width: 90%;
        height: 240px;
    }

    .btn {
        width: 40px;
        height: 40px;
    }

    .footer {
        font-size: 1.2rem;
    }
}


@media (max-width: 425px) {
    h1 {
        font-size: 1.9rem;
    }

    #textInp {
        width: 80%;
        height: 200px;
    }

    .btn {
        width: 35px;
        height: 35px;
        font-size: 0.85rem;
    }

    .footer {
        font-size: 1rem;
    }
}


@media (max-width: 375px) {
    h1 {
        font-size: 1.6rem;
    }

    #textInp {
        width: 78%;
        height: 180px;
    }

    .btn {
        width: 30px;
        height: 30px;
        font-size: 0.75rem;
    }

    .footer {
        font-size: 0.8rem;
    }
}


@media (max-width: 320px) {
    h1 {
        font-size: 1.5rem;
    }

    #textInp {
        width: 77%;
        height: 160px;
    }

    .btn {
        width: 28px;
        height: 28px;
        font-size: 0.7rem;
    }

    .footer {
        font-size: 0.7rem;
    }
}